.popup__input{
    width: 100%;
    border: none;
    padding: 0;
    outline: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 14px;
<<<<<<< HEAD
    padding:11px 0;
    line-height: 17px; 
    margin-bottom: 29px;
}

=======
    padding: 0 0 11px 0;
    line-height: 17px; 
    margin-bottom: 29px;
    color: #000000;
}

.popup__input::placeholder {
    color: #C4C4C4;
}

@media (max-width: 500px) {
    .popup__input{ 
        font-size: 12px;
    }
}
>>>>>>> develop
