.popup__container{
    max-width: 430px;
    max-height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;   
    position: relative;  
    display: flex;   
    flex-direction: column;   
    background-color: #ffffff;
}

@media (max-width: 500px) {
    .popup__container{ 
        margin-right: 80px;
        min-height: 258px;
    }
}