.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    margin-top: 45px;
    max-width: 882px;
}


@media (max-width: 900px){
    .header{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 340px){
    .header{
        margin-top: 28px;
        margin-left: 0px;
        margin-right: 0px;
    }
}