.profile__title{
    color: #ffffff;
    margin: 0;
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
}

@media (max-width: 640px){
    .profile__title{
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 318px){
    .profile__title{
        font-size: 18px;
        line-height: 40px;
        text-align: center;
    }
}
