.elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0;
    max-width: 882px;
    margin: auto;
    margin-top: 50px;
}